body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: Roboto;
}

.node .viewer {
    display: none;
}

.node:hover .viewer {
    display: block;
}

hr {
    border: 1px solid rgba(0, 0, 0, 0.5)
}

.container {
    display: grid;
    margin: 0 auto;
    /* Centers the container horizontally */
    grid-gap: 30px;
    /* Adjusts spacing between items */
    grid-template-columns: repeat(3, 1fr);
    /* Creates 7 equal-width columns */
}

.item {
    align-items: center;
    justify-content: center;
}